SDK/*
dataset/*
youtube_dl_env/bin/*
*log*
*.log
CER
ALIGN
*rec.txt
*ref.txt
RES_*

test_env/baidu/API_KEY
test_env/baidu/SECRET_KEY

test_env/aliyun/APPKEY
test_env/aliyun/ACCESS_KEY_ID
test_env/aliyun/ACCESS_KEY_SECRET
test_env/aliyun/TOKEN
test_env/aliyun/TOKEN_EXPIRE_TIME

test_env/tencent/SECRET_ID
test_env/tencent/SECRET_KEY

test_env/yitu/DEV_ID
test_env/yitu/DEV_KEY

test_env/iflytek/APP_ID
test_env/iflytek/API_KEY
test_env/iflytek/API_SECRET

test_env/google/TIOBE.json

test_env/sogou/APP_ID
test_env/sogou/APP_KEY
test_env/sogou/TOKEN

test_env/microsoft/SUBSCRIPTION_KEY

